/* original author: Jason Niu  */
#pane{
    -fx-background-image: url("./bg.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 867 350;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.but_close{
    -fx-font: 20 arial; 
    -fx-base: #b6e7c9;  
    -fx-halignment:center ;
    -fx-text-fill: white;
    -fx-background-color: deepskyblue;
    -fx-border-radius: 10;
    -fx-text-alignment: center;
    -fx-background-radius: 10;
    
}
.hbox_label{
	-fx-padding: 0.0 0.0 0.0 0.0;
    -fx-alignment:center;
}
.hbox_slider{
	-fx-spacing:58;
    -fx-font:16 Arial;
    -fx-font-weight:800;
    -fx-padding: -36.0 0.0 0.0 -8.0;
    -fx-alignment:center;
}
.slider_label{
	-fx-padding: 0.0 76.0 0.0 0.0;
	
	-fx-alignment: center;
	-fx-pref-width:198px;
    -fx-font:16 Arial;
    -fx-font-weight:800;
    -fx-text-fill: #d2d2d2;
    
}
.hbox_slider_label{
	-fx-padding: 18.0 -16.0 0.0 52.0;
	-fx-spacing:50;
	-fx-alignment:center;
    
}


.hbox_combo{
	-fx-spacing:70;
    -fx-font:16 Arial;
    -fx-font-weight:800;
    -fx-padding: -30.0 0.0 0.0 -8.0;
    -fx-alignment:center;
  	
    
}

.combox{
	-fx-pref-width:152px;
}
.vbox1{
    -fx-spacing:10;
    -fx-alignment:top-center;
  	
    
}

.hbox_checks{
    -fx-spacing:10;
    -fx-padding: 10.0 0.0 0.0 20.0;
   
}

.button_store{
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Arial";
    -fx-font-weight:400;
    -fx-font-size: 12px;
    -fx-text-fill: #5d5d5d;
   
}
.button_store:hover{
   -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
     -fx-background-insets: 0,1,2;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Arial";
    -fx-font-weight:400;
    -fx-font-size: 12px;
    -fx-text-fill: #5d5d5d;
}


.hbox_btn_store{
	-fx-spacing:120;
	-fx-padding: 18.0 0.0 20.0 0.0;
 	-fx-alignment:center;
}
.hbox_btn_LS{
	-fx-spacing:40;
	-fx-padding: 10.0 0.0 26.0 560.0;
 	-fx-alignment:center;
}
.hbox_btn{
	-fx-spacing:80;
	-fx-padding: 18.0 0.0 20.0 0.0;
 	-fx-alignment:center;
}

.check{
	-fx-font:25 Arial;
    -fx-font-weight:900;
    -fx-text-fill: white;
    -fx-padding: 70.0 15.0 20.0 0.0;
    -fx-stroke: #989898;
    -fx-stroke-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 2, 0, 0, 1);
    
}
.label_mouth{
	-fx-padding: 0.0 76.0 0.0 -20.0;
	
	-fx-alignment: center;
	-fx-pref-width:222px;
    -fx-font:20 Arial;
    -fx-font-weight:800;
    -fx-text-fill: #d2d2d2;
    
}


.label_2{
	-fx-padding: 0.0 26.0 0.0 -50.0;
	-fx-alignment: center;
    -fx-font:20 Arial;
    -fx-pref-width:198px;
    -fx-font-weight:800;
    -fx-text-fill: #d2d2d2;
    
}
.label_3{
	-fx-padding: 0.0 0.0 0.0 -30.0;
	-fx-alignment: center;
    -fx-font:20 Arial;
    -fx-pref-width:198px;
    -fx-font-weight:800;
    -fx-text-fill: #d2d2d2;
    
}
.label_4{
	-fx-padding: 0.0 0.0 0.0 10.0;
	
	-fx-alignment: center;
	-fx-pref-width:198px;
    -fx-font:20 Arial;
    -fx-font-weight:800;
    -fx-text-fill: #d2d2d2;
    
}
#fancytext {
    -fx-font: 100px Tahoma;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.button_CRQ{
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5,5,4;
    
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Arial";
    -fx-font-weight:400;
    -fx-font-size: 18px;
    -fx-text-fill: #5d5d5d;
   
}

.button_CRQ:hover{
   -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
     -fx-background-insets: 0,1,2;
    -fx-background-radius: 5,5,4;
    
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Arial";
    -fx-font-weight:400;
    -fx-font-size: 18px;
    -fx-text-fill: #5d5d5d;
}
.status-bar {
	-fx-alignment: center;
    -fx-pref-height: 24px;
	-fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
	-fx-background-color: -fx-body-color;
	-fx-border-color: lightgray transparent transparent transparent;
}

.status-text {
	-fx-alignment: center;

    -fx-text-fill: black;
    
    -fx-alignment: center;
	-fx-pref-width:198px;
    -fx-font:12 Arial;
    -fx-font-weight:800;
   
	
}
